@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "leaflet/dist/leaflet.css";
@import "leaflet.markercluster/dist/MarkerCluster.css";
@import "leaflet.markercluster/dist/MarkerCluster.Default.css";
@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Public Sans", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Space Grotesk", ui-monospace, SFMono-Regular, monospace;
}

@layer base {
  body {
    @apply antialiased;
  }
}

@keyframes scan {
  0%, 100% { top: 0% }
  50% { top: 100% }
}

.animate-scan {
  animation: scan 3s ease-in-out infinite;
}

